@import 'variables.css';

* {
    /*Reset default browser styles*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--black);
    margin: 40px 130px 40px 100px;
}

/* navbar design desktop */

#navbar > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
}

#navbar > nav > ul li {
    display: inline-block;
    list-style-type: none;
    margin: 0px 30px;
    font-size: 18px;
}

#navbar > nav > ul > li a{
    text-decoration: none;
    color: var(--white);
}

#navbar > nav button{
    display: inline-block;
    width: 132px;
    height: 54px;
    background-color: var(--primary);
    border: 0px;
    border-radius: 10px;
    color: var(--black);
    font-size: 20px;
    font-weight: bold;
    margin-left: 14px;
}

/* Hero section design desktop */

#landing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

#hero-section {
    color: var(--white);
}

#hero-section p {
    color: var(--primary);
}

#hero-section h1{
    font-size: 55px;
}

#hero-section button {
    display: flex;
    flex-direction: row;
    background-color: var(--primary);
    align-items: center;
    font-size: 24px;
    color: var(--black);
    margin-top: 35px;
    padding: 15px;
    border-radius: 10px;
}

#hero-section button img {
    margin-left: 10px;
    margin-top: 1px;
}
